<html>

<head>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
     <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/5881fd899f.js"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
<div class="form-horizontal" id="msform" >
    <fieldset>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3" id="gone2" style="margin-top: 20px; margin-bottom: 20px;">
                <div style="width:100%; padding:10px; border-radius: 10px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.05);" frameborder="0" scrolling="no">
                    <p>مشاهده‌ی گزارش‌ها و تحلیل‌های پیشین</p>
                </div>
                <button class="closepop btn btn-default" style="text-decoration: none; margin-top: 20px;"><i class="fa fa-times" aria-hidden="true"></i>&nbsp  بستن</button>
            </div>
            <div class="col-sm-3" id="gone2" style="margin-top: 20px; margin-bottom: 20px;">
                <div style="width:100%; padding:10px; border-radius: 10px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.05);" frameborder="0" scrolling="no">
                    <p>اقدام برای بررسی جدید</p>
                </div>
                <button class="closepop btn btn-default" style="text-decoration: none; margin-top: 20px;"><i class="fa fa-times" aria-hidden="true"></i>&nbsp  بستن</button>
            </div>
        </div>
    </fieldset>
    </div>
</div>
<script src="javascripts/upload.js"></script>
</body>
</html>